#xilin {
    background: #999900 center bottom repeat url(/images/xilinnwbk.jpg);
}

#navigation > .react-tabs > .react-tabs__tab-list {
    vertical-align: bottom;
    padding: 106px 0 0;
    background: transparent center bottom no-repeat url(/images/xilinnw.jpg);
}