.panel-headline {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    padding: 8px 0 8px 0;
    border: 0 none transparent;
    border-spacing: 0;
    background-color: #b9b9b9;
    color: #008000;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}